.footer-blur {
  position: relative;
  z-index: 1;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    // Difuminado lateral estático
    background: linear-gradient(
      to right,
      rgba(64, 79, 95, 0),
      rgb(52, 86, 120) 30%,
      rgb(0, 76, 151) 70%,
      rgba(33, 37, 41, 0)
    );

    z-index: -1;
  }
}
