<mat-nav-list class="user-sidebar">

  <h5 class="sidebar-title">User Panel</h5>

  <a mat-list-item routerLink="/user/profile" routerLinkActive="active">
    <mat-icon>person</mat-icon>
    <span>Profile</span>
  </a>

  <a mat-list-item routerLink="/user/payment" routerLinkActive="active">
    <mat-icon>credit_card</mat-icon>
    <span>Payment</span>
  </a>

  <a mat-list-item routerLink="/user/reports" routerLinkActive="active">
    <mat-icon>bar_chart</mat-icon>
    <span>Reports</span>
  </a>

  <a mat-list-item routerLink="/user/subscriptions" routerLinkActive="active">
    <mat-icon>subscriptions</mat-icon>
    <span>Subscriptions</span>
  </a>

</mat-nav-list>
