<!-- principalcomponent.html -->

<div class="landing-hero position-relative text-white d-flex align-items-center justify-content-center">
  <img src="images/landing.jpg" alt="Landing" class="img-fluid w-100 h-100 object-fit-cover" />

  <!-- Degradados -->
  <div class="overlay-top"></div>
  <div class="overlay-bottom"></div>

  <!-- Contenido de bienvenida -->
  <div class="hero-text text-center px-3">
    <h1 class="display-4 fw-bold">Dile adiós a las suscripciones olvidadas</h1>
    <p class="lead">Tu herramienta para llevar el control de tus gastos digitales.  
    <br> Registra, visualiza y toma el control de tus pagos recurrentes.</p>
  </div>
</div>

<!-- Carrusel -->
<app-carrusel></app-carrusel>
